{% extends 'hr/base.html' %}


{% block head %}
<script>
  $(document).ready(function() {
    $('#import').on('click', function() {
      $(this).addClass('disabled');
      $(this).text('Importing ...');
      window.location.href = "{{ url_for('.sync') }}";
    });
    $('select').material_select();
  });
</script>
{% endblock head %}

{% block content %}
<h2>Admin <small>this page is locked to <strong>{{ admins }}</strong></small></h2>

<div class="card-panel">
  <h4>Sync members</h4>
  <p>
    This will import all corp members from the EVE API and create
    memberships items the database for them. All members will automatically
    be marked as "Accepted" when imported this way. Characters who have
    left the corp will be marked as such.<br><br>
  </p>
  <a class="btn waves-effect waves-light grey darken-1" id="import" href="#">Sync
    <i class="material-icons right">send</i>
  </a>
</div>

<div class="card-panel">
  <h4>Set Status</h4>
  <form action="{{ url_for('.admin_set_status') }}" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <label for="name">Character (full) name</label>
        <input type="text" name="name" required>
      </div>
      <div class="input-field col s6">
        <select name="status">
          <option value="New">New</option>
          <option value="Ready to be interviewed">Ready to be interviewed</option>
          <option value="Ready to be accepted">Ready to be accepted</option>
          <option value="Accepted">Accepted</option>
          <option value="Left">Left</option>
        </select>
        <label for="status">Status</label>
      </div>
    </div>
    <div class="row">
      <div class="col s6">
        <button class="btn waves-effect waves-light grey darken-1" type="submit" name="action">set
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>

<div class="card-panel">
  <h4>The following people are recruiters</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Revoke?</th>
      </tr>
    </thead>
    <tbody>
      {% for member in recruiters %}
        <tr>
          <td><a href="{{ url_for('.details', id=member.id) }}">{{ member.character_name }}</a></td>
          {% if member.user.admin %}
            <td>This user is an admin</td>
          {% else %}
            <td><a href="{{ url_for('.revoke_access', name=member.character_name, role='Recruiter') }}"
              class="btn waves-efect waves-light red">Revoke</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="card-panel">
  <h4>Add a recruiter</h4>
  <form action="{{ url_for('.admin') }}" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <select name="name" id="name">
          {% for member in all_members %}
            <option value="{{ member }}">{{ member }}</option>
          {% endfor %}
        </select>
        <label for="name">Name</label>
      </div>
    </div>
    <input type="hidden" name="role" value="Recruiter">
    <div class="col s6">
      <button class="btn waves-effect waves-light grey darken-1" type="submit" name="action">Add
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>

<div class="card-panel">
  <h4>The following people are mentors</h4>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Revoke?</th>
      </tr>
    </thead>
    <tbody>
      {% for member in mentors %}
        <tr>
          <td><a href="{{ url_for('.details', id=member.id) }}">{{ member.character_name }}</a></td>
          {% if member.user.admin %}
            <td>This user is an admin</td>
          {% else %}
            <td><a href="{{ url_for('.revoke_access', name=member.character_name, role='Mentor') }}"
              class="btn waves-efect waves-light red">Revoke</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="card-panel">
  <h4>Add a mentor</h4>
  <form action="{{ url_for('.admin') }}" method="POST" class="col s12">
    <div class="row">
      <div class="input-field col s6">
        <select name="name" id="name">
          {% for member in all_members %}
            <option value="{{ member }}">{{ member }}</option>
          {% endfor %}
        </select>
        <label for="name">Name</label>
      </div>
    </div>
    <input type="hidden" name="role" value="Mentor">
    <div class="col s6">
      <button class="btn waves-effect waves-light grey darken-1" type="submit" name="action">Add
        <i class="material-icons right">send</i>
      </button>
    </div>
  </form>
</div>
{% endblock content %}
