{% extends 'base.html' %}


{% block content %}
<div class="clearfix">
  <h2 class="left">Members and Applicants</h2>
{% if current_user.recruiter or current_user.admin %}
  <a class="right btn-floating btn-large waves-effect waves-light grey darken-1" href="{{ url_for('add_member') }}">
    <i class="material-icons">add</i>
  </a>
{% endif %}
</div>

<div class="row pad-top">
  <div class="col s12">
    <a href="{{ url_for('membership') }}"
      class="btn waves-effect waves-light btn-small grey darken-1">
      Normal view
    </a>
    <a href="{{ url_for('membership') }}?show_hidden=1"
      class="btn waves-effect waves-light btn-small grey darken-1">
      Show hidden members
    </a>
    <a href="{{ url_for('membership') }}?show_applications=1"
      class="btn waves-effect waves-light btn-small grey darken-1">
      Show applications
    </a>
    <div>
      {% if not members %}
        {% if show_applications %}
          <p>No new applications.</p>
        {% else %}
          <p>No members found.</p>
        {% endif %}
      {% else %}
        <ul class="collapsible popout" data-collapsible="accordion">
          {% for member in members %}
            <li>
              <div class="collapsible-header{% if loop.index == 1 %} active{% endif %} clearfix">
                <span class="left">{{ member.character_name }}</span>
                <div class="right">
                  {% if member.hidden %}
                    <div class="chip">Hidden</div>
                  {% endif %}
                  <span class="right">
                    {{ member.status }}
                  </span>
                </div>
              </div>
              <div class="collapsible-body">
                <table class="grey lighten-3">
                  <thead>
                    <tr>
                      <th>Reddit</th>
                      <th>Timestamp</th>
                      <th>Status</th>
                      <th>Main</th>
                      <th>Alts</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>{{ member.reddit }}</td>
                      <td>{{ member.date }}</td>
                      <td>{{ member.status }}</td>
                      <td>{{ member.main }}</td>
                      <td>{{ member.get_alt_names() | join(', ') }}</td>
                      <td class="small">
                        <a href="{{ url_for('details', id=member.id) }}"
                          class="btn waves-effect waves-light btn-small grey darken-1">
                          Details
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </div>
</div>

{% endblock content %}
