{% extends 'base.html' %}


{% block head %}
<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
{% endblock head %}

{% block content %}
<h2>Add a member or applicant</h2>
<div class="card-panel">
    <form action="{{ url_for('add_member') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s4">
                <label for="name">Character name</label>
                <input type="text" name="name" required>
            </div>
            <div class="input-field col s4">
                <label for="reddit">Reddit username</label>
                <input type="text" name="reddit">
            </div>
            <div class="input-field col s4">
                <select name="status">
                    <option value="New"></option>
                    <option value="Ready"></option>
                    <option value="Accepted"></option>
                    <option value="Denied"></option>
                </select>
                <label for="status">Status</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s4">
                <label for="apikey">API Key</label>
                <input type="text" name="apikey" required>
            </div>
            <div class="input-field col s4">
                <label for="apicode">API vCode</label>
                <input type="text" name="apicode" required>
            </div>
            <div class="input-field col s4">
                <label for="alts">Alts</label>
                <input type="text" name="alts">
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="notes">Notes</label>
                <textarea name="notes" class="materialize-textarea"></textarea>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light orange" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
{% endblock content %}
