{% extends 'base.html' %}


{% block head %}
<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
{% endblock head %}

{% block content %}
<h2>Add a member</h2>
<h4>A player can apply to the corp themselves; this page is a secondary method of adding them</h4>
<h4 class="red-text">All character names are case-sensitive!</h4>
<div class="card-panel">
    <form action="{{ url_for('add_member') }}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s4">
                <label for="name">Character name</label>
                <input type="text" name="name" required>
            </div>
            <div class="input-field col s4">
                <select name="status">
                    <option value="New">New</option>
                    <option value="Ready to be interviewed">Ready to be interviewed</option>
                    <option value="Ready to be accepted">Ready to be accepted</option>
                </select>
                <label for="status">Status</label>
            </div>
            <div class="input-field col s4">
                <select name="main" id="main">
                    <option value="*">** This character **</option>
                    {% for member in all_members %}
                        <option value="{{ member }}">{{ member }}</option>
                    {% endfor %}
                </select>
                <label for="main">Main</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <label for="apikey">API Key</label>
                <input type="text" name="apikey" required>
            </div>
            <div class="input-field col s6">
                <label for="apicode">API vCode</label>
                <input type="text" name="apicode" required>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <label for="notes">Notes</label>
                <textarea name="notes" class="materialize-textarea"></textarea>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light grey darken-1" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
</div>
{% endblock content %}
