<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GETIN HR</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        div.card-panel p {
            font-size: 1.2em;
        }
    </style>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('.flashed').fadeOut();
            }, 10000);
        });
    </script>
    {% block head %}{% endblock head %}
</head>
<body>

<nav>
    <div class="nav-wrapper blue lighten-2">
        <div class="container">
            <a href="{{ url_for('index') }}" class="brand-logo">GETIN Auth</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if not current_user.is_anonymous %}
                <li><a href="{{ url_for('services') }}">Services</a></li>
                <li><a href="{{ url_for('logout') }}">Logout {{ session['character_name'] }}</a></li>
            {% else %}
                <li><a href="{{ url_for('eve_oauth_prompt') }}">Login</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="card-panel light-green flashed">
                {% else %}
                    <div class="card-panel red flashed">
                {% endif %}
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock content %}
</div>

</body>
</html>