<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>GETIN HR</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <style>
        div.card-panel p {
            font-size: 1.2em;
        }
    </style>
    <script>
        $(document).ready(function() {
            setTimeout(function() {
                $('.flashed.disappear').fadeOut('slow');
            }, 10000);
        });
    </script>
    {% block head %}{% endblock head %}
</head>
<body class="orange lighten-5">

<nav>
    <div class="nav-wrapper orange lighten-2">
        <div class="container">
            <a href="{{ url_for('index') }}" class="brand-logo">GETIN HR</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if not current_user.is_anonymous %}
                {% if current_user.admin %}
                    <li><a href="{{ url_for('admin') }}">Admin</a></li>
                {% endif %}
                <li><a href="{{ url_for('logout') }}">Logout {{ current_user.name }}</a></li>
            {% else %}
                <li><a href="{{ url_for('eve_oauth_prompt') }}">Login</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="card-panel green lighten-1 flashed disappear">
                {% else %}
                    <div class="card-panel red lighten-1 flashed">
                {% endif %}
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% block content %}{% endblock content %}
</div>

</body>
</html>