{% extends 'base.html' %}


{% block head %}
<script>
    $(document).ready(function() {
        $('.modal-trigger').leanModal();
        $('select').material_select();
    });
</script>
{% endblock head %}

{% block content %}
<h2>Member details page - {{ member.character_name }}</h2>

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Setting</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Character name</td>
            <td>{{ member.character_name }}</td>
        </tr>
        <tr>
            <td>Current corporation</td>
            <td>{{ member.corporation }}</td>
        </tr>
        <tr>
            <td>Reddit username</td>
            <td>
                {% if member.reddit %}
                    <a href="https://reddit.com/u/{{ member.reddit }}" target="_blank">{{ member.reddit }}</a>
                {% else %}
                    No linked account
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Creation date</td>
            <td>{{ member.date }}</td>
        </tr>
        <tr>
            <td>Membership status</td>
            <td>
                <form action="{{ url_for('details', id=member.id) }}" method="POST" class="row">
                    <div class="col s4">
                        <select name="status">
                            <option value="{{ member.status }}" active>{{ member.status }}</option>
                            <option value="New">New</option>
                            <option value="Ready to be interviewed">Ready to be interviewed</option>
                            <option value="Ready to be accepted">Ready to be accepted</option>
                            <option value="Accepted">Accepted</option>
                            <option value="Denied">Denied</option>
                        </select>
                    </div>
                    <div class="col s4">
                        <button class="waves-effect waves-light btn grey darken-1" type="submit">Save</button>
                    </div>
                    <input type="text" name="section" value="status" hidden>
                </form>
            </td>
        </tr>
        <tr>
            <td>Main</td>
            <td>
                {{ member.main }}<br>
                <a class="waves-effect waves-light btn modal-trigger grey darken-1" href="#modalMain">Edit ...</a>
            </td>
        </tr>
        <tr>
            <td>API key</td>
            <td>
                {% if member.key_id and member.v_code %}
                    <span>{{ member.key_id }}</span><br>
                    <span>{{ member.v_code }}</span><br>
                {% endif %}
                <a class="waves-effect waves-light btn modal-trigger grey darken-1" href="#modalAPI">Edit ...</a>
                <a class="waves-effect waves-light btn modal-trigger grey darken-1"
                    href="http://ridetheclown.com/eveapi/audit.php?usid={{ member.key_id }}&apik={{ member.v_code }}"
                    target="_blank">View Jackknife</a>
            </td>
        </tr>
        <tr>
            <td>Notes</td>
            <td>
                <a class="waves-effect waves-light btn modal-trigger grey darken-1" href="#modalNotes">Notes ...</a>
            </td>
        </tr>
        <tr>
            <td>Visibility</td>
            <td>
                {% if not member.hidden %}
                    <a class="waves-effect waves-light btn modal-trigger grey darken-1"
                        href="{{ url_for('visibility', id=member.id, action='hide') }}">Hide</a>
                {% else %}
                    <a class="waves-effect waves-light btn modal-trigger grey darken-1"
                        href="{{ url_for('visibility', id=member.id, action='show') }}">Show</a>
                {% endif%}
            </td>
        </tr>
        {% if current_user.admin %}
        <tr>
            <td>Delete</td>
            <td><a class="waves-effect waves-light btn modal-trigger red"
                href="#modalDelete">Permanently delete user ...</a></td>
        </tr>
        {% endif %}
    </tbody>
</table>

<div id="modalAPI" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>API key</h4>
        <p>
            Enter the EVE API key <code>keyID</code> and <code>vCode</code>.<br>
        </p>
        <div class="row">
            <form action="{{ url_for('index') }}" method="POST" class="col s12" id="formKey">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="key">KeyID</label>
                        <input type="text" name="key_id" value="{{ member.key_id or '' }}" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="vcode">vCode</label>
                        <input type="text" name="v_code" value="{{ member.v_code or '' }}" required>
                    </div>
                    <input type="text" name="section" value="key" hidden>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-light btn-flat white">Close</a>
        <button class="waves-effect waves-light btn-flat grey darken-1" type="submit" form="formKey">Save</button>
    </div>
</div>

<div id="modalNotes" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>modalNotes</h4>
        <div class="row">
            <form action="{{ url_for('details', id=member.id) }}" method="POST" class="col s12" id="formNotes">
                <div class="row">
                    <div class="input-field col s12">
                        <label for="notes">Notes</label>
                        <textarea name="notes" class="materialize-textarea">{{ member.notes or '' }}</textarea>
                        <input type="text" name="section" value="notes" hidden>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-light btn-flat white">Close</a>
        <button class="waves-effect waves-light btn-flat grey darken-1" type="submit" form="formNotes">Save</button>
    </div>
</div>

<div id="modalMain" class="modal bottom-sheet modal-bottom-tall">
    <div class="modal-content">
        <h4>Main</h4>
        <p>
            Enter this character's main if it's an alt.
        </p>
        <div class="row">
            <form action="{{ url_for('details', id=member.id) }}" method="POST" class="col s12" id="formMain">
                <input type="hidden" name="section" value="main">
                <div class="row">
                    <div class="input-field col s4">
                        <select name="main" id="main">
                            <option value="*">** This character **</option>
                            {% for member in all_members %}
                                <option value="{{ member }}">{{ member }}</option>
                            {% endfor %}
                        </select>
                        <label for="main">Main</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-light btn-flat white">Close</a>
        <button class="waves-effect waves-light btn-flat grey darken-1" type="submit" form="formMain">Save</button>
    </div>
</div>

<div id="modalDelete" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>Delete member</h4>
        <p>
            Are you sure that you want to permanently delete this user?
        </p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-light btn-flat white">Close</a>
        <a class="waves-effect waves-light btn-flat red" href="{{ url_for('delete', id=member.id) }}">Delete</a>
    </div>
</div>
{% endblock content %}
