{% extends 'base.html' %}


{% block content %}
<div class="clearfix">
    <h2 class="left">Members and Applicants</h2>
    <a class="right btn-floating btn-large waves-effect waves-light orange" href="{{ url_for('add_member') }}">
        <i class="material-icons">add</i>
    </a>
</div>

<div class="row pad-top">
    <div class="col s12">
        <div>
            {% if not applications %}
                <p>
                    No applications found. Use the red button above to add some.
                </p>
            {% else %}
                <ul class="collapsible popout" data-collapsible="accordion">
                    {% for app in applications %}
                        <li>
                            <div class="collapsible-header{% if loop.index == 1 %} active{% endif %} clearfix">
                                <span class="left">{{ app.character_name }}</span>
                                <span class="right">{{ app.status }}</span>
                            </div>
                            <div class="collapsible-body">
                                <table class="orange lighten-5">
                                    <thead>
                                        <tr>
                                            <th>Reddit</th>
                                            <th>Timestamp</th>
                                            <th>Status</th>
                                            <th>Alts</th>
                                            <th>Notes</th>
                                            <th>API key</th>
                                            <th>Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ app.reddit }}</td>
                                            <td>{{ app.applied_date }}</td>
                                            <td>{{ app.status }}</td>
                                            <td>{{ app.alts }}</td>
                                            <td>{{ app.notes }}</td>
                                            <td>{{ app.api_key }} - {{ app.api_code }}</td>
                                        <td><a href="{{ url_for('edit', id=app.id) }}">Edit</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
