{% extends 'base.html' %}


{% block content %}
<div class="clearfix">
    <h2 class="left">Members and Applicants</h2>
    <a class="right btn-floating btn-large waves-effect waves-light orange" href="{{ url_for('add_member') }}">
        <i class="material-icons">add</i>
    </a>
</div>

<div class="row pad-top">
    <div class="col s12">
        <a href="{{ url_for('membership') }}{% if not show_hidden %}?show_hidden=1{% endif %}"
            class="btn waves-effect waves-light btn-small orange">
            {% if show_hidden %}
                Normal view
            {% else %}
                Show hidden members
            {% endif %}
        </a>
        <a href="{{ url_for('membership') }}{% if not show_applications %}?show_applications=1{% endif %}"
            class="btn waves-effect waves-light btn-small orange">
            {% if show_applications %}
                Normal view
            {% else %}
                Show applications only
            {% endif %}
        </a>
        <div>
            {% if not members %}
                {% if show_applications %}
                    <p>No new applications.</p>
                {% else %}
                    <p>No members found.</p>
                {% endif %}
            {% else %}
                <ul class="collapsible popout" data-collapsible="accordion">
                    {% for member in members %}
                        <li>
                            <div class="collapsible-header{% if loop.index == 1 %} active{% endif %} clearfix">
                                <span class="left">{{ member.character_name }}</span>
                                <div class="right">
                                    {% if member.hidden %}
                                        <div class="chip">Hidden</div>
                                    {% endif %}
                                    <span class="right">
                                        {{ member.status }}
                                    </span>
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <table class="orange lighten-5">
                                    <thead>
                                        <tr>
                                            <th>Reddit</th>
                                            <th>Timestamp</th>
                                            <th>Status</th>
                                            <th>Main</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ member.reddit }}</td>
                                            <td>{{ member.date }}</td>
                                            <td>{{ member.status }}</td>
                                            <td>{{ member.main }}</td>
                                            <td class="small">
                                                <a href="{{ url_for('details', id=member.id) }}"
                                                    class="btn waves-effect waves-light btn-small orange">
                                                    Details
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}
