{% extends 'base.html' %}


{% block head %}
<script>
    $(document).ready(function() {
        $('.modal-trigger').leanModal();
    });
</script>
{% endblock head %}

{% block content %}
{% if not current_user.member.key_id or not current_user.member.v_code %}
<div class="card-panel red lighten-1 flashed">
    <p>
        You need to have at least 1 API Key on file
    </p>
</div>
{% endif %}

<h2>Me <small>(well, you)</small></h2>

<table>
    <thead>
        <tr>
            <th>Item</th>
            <th>Setting</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Character name</td>
            <td>{{ current_user.member.character_name }}</td>
        </tr>
        <tr>
            <td>Current corporation</td>
            <td>{{ current_user.member.corporation }}</td>
        </tr>
        <tr>
            <td>Reddit username</td>
            <td>
                {% if current_user.member.reddit %}
                    <a href="https://reddit.com/u/{{ current_user.member.reddit }}" target="_blank">{{ current_user.member.reddit }}</a>
                {% else %}
                    <a href="{{ reddit_link }}">Link your account!</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Membership status</td>
            <td>{{ current_user.member.status }}</td>
        </tr>
        <tr>
            <td>API key(s)</td>
            <td>
                <a class="waves-effect waves-light btn modal-trigger grey darken-1" href="#modalAPI">Edit</a>
            </td>
        </tr>
        <tr>
            <td>Training Progress</td>
            <td>
                <input type="checkbox" class="filled-in" name="know_good_fits"
                    id="training_know_good_fits"{% if current_user.member.know_good_fits %} checked="checked"{% endif %}
                    disabled="disabled">
                <label for="training_know_good_fits">Good fits</label>
                <input type="checkbox" class="filled-in" name="know_scan"
                    id="training_know_scan"{% if current_user.member.know_scan %} checked="checked"{% endif %}
                    disabled="disabled">
                <label for="training_know_scan">Scanning</label>
                <input type="checkbox" class="filled-in" name="know_mass_and_time"
                    id="training_know_mass_and_time"{% if current_user.member.know_mass_and_time %} checked="checked"{% endif %}
                    disabled="disabled">
                <label for="training_know_mass_and_time">Mass and time</label>
                <input type="checkbox" class="filled-in" name="know_organize_gank"
                    id="training_know_organize_gank"{% if current_user.member.know_organize_gank %} checked="checked"{% endif %}
                    disabled="disabled">
                <label for="training_know_organize_gank">Organize a gank</label>
                <input type="checkbox" class="filled-in" name="know_when_to_pve"
                    id="training_know_when_to_pve"{% if current_user.member.know_when_to_pve %} checked="checked"{% endif %}
                    disabled="disabled">
                <label for="training_know_when_to_pve">When to PVE</label>
                <br>
                <input type="checkbox" class="filled-in" name="know_comms"
                    id="training_know_comms"{% if current_user.member.know_comms %} checked="checked"{% endif %}
                    disabled="disabled">
                <label for="training_know_comms">Comms</label>
                <input type="checkbox" class="filled-in" name="know_appropriate_ships"
                    id="training_know_appropriate_ships"{% if current_user.member.know_appropriate_ships %} checked="checked"{% endif %}
                    disabled="disabled">
                <label for="training_know_appropriate_ships">Appropriate ships</label>
                <input type="checkbox" class="filled-in" name="know_intel"
                    id="training_know_intel"{% if current_user.member.know_intel %} checked="checked"{% endif %}
                    disabled="disabled">
                <label for="training_know_intel">Intel</label>
                <input type="checkbox" class="filled-in" name="know_pvp"
                    id="training_know_pvp"{% if current_user.member.know_pvp %} checked="checked"{% endif %}
                    disabled="disabled">
                <label for="training_know_pvp">PVE</label>
                <input type="checkbox" class="filled-in" name="know_doctrine"
                    id="training_know_doctrine"{% if current_user.member.know_doctrine %} checked="checked"{% endif %}
                    disabled="disabled">
                <label for="training_know_doctrine">Doctrine</label>
            </td>
        </tr>
    </tbody>
</table>

<div id="modalAPI" class="modal bottom-sheet">
    <div class="modal-content">
        <h4>API key</h4>
        <p>
            Enter your EVE API key <code>keyID</code> and <code>vCode</code>.<br>
            If you need to create a new key, use
            <a href="https://community.eveonline.com/support/api-key/CreatePredefined?accessMask={{ config['API_KEY_MASK'] }}" target="_blank">
            this link</a> and be sure to check <i>No Expiry</i>.
        </p>
        <div class="row">
            <form action="{{ url_for('index') }}" method="POST" class="col s12" id="formKeys">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="key">KeyID</label>
                        <input type="text" name="key_id" value="{{ current_user.member.key_id or '' }}" required>
                    </div>
                    <div class="input-field col s6">
                        <label for="vcode">vCode</label>
                        <input type="text" name="v_code" value="{{ current_user.member.v_code or '' }}" required>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-light btn-flat white">Close</a>
        <button class="waves-effect waves-light btn-flat grey darken-1" type="submit" form="formKeys">Save</button>
    </div>
</div>
{% endblock content %}
