{% extends 'base.html' %}


{% block head %}
<script>
    $(document).ready(function() {
        $('.tooltipped').tooltip({delay: 50});
    });
</script>
{% endblock head %}

{% block content %}
<h2>
    Members with invalid mains
    <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Characters with
    mains not in the corp">info</i>
</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Main</th>
            <th>Status</th>
            <th>Corp</th>
        </tr>
    </thead>
    <tbody>
        {% for member in invalid_mains %}
            <tr>
                <td><a href="{{ url_for('details', id=member.id) }}">{{ member.character_name }}</a></td>
                <td>{{ member.main }}</td>
                <td>{{ member.status }}</td>
                <td>{{ member.corporation }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>
    Members with mains who've left the corp
    <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Characters with mains
    that where preiviously in the corp but aren't now">info</i>
</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Main</th>
            <th>Status</th>
            <th>Corp</th>
        </tr>
    </thead>
    <tbody>
        {% for member in defunct_mains %}
            <tr>
                <td><a href="{{ url_for('details', id=member.id) }}">{{ member.character_name }}</a></td>
                <td>{{ member.main }}</td>
                <td>{{ member.status }}</td>
                <td>{{ member.corporation }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</ul>

<h2>
    Members with a missing API key
    <i class="material-icons tooltipped" data-position="bottom" data-delay="50" data-tooltip="Characters that don't
    have an API key recorded">info</i>
</h2>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Main</th>
            <th>Status</th>
            <th>Corp</th>
        </tr>
    </thead>
    <tbody>
        {% for member in missing_api_keys %}
            <tr>
                <td><a href="{{ url_for('details', id=member.id) }}">{{ member.character_name }}</a></td>
                <td>{{ member.main }}</td>
                <td>{{ member.status }}</td>
                <td>{{ member.corporation }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</ul>
{% endblock content %}
