{% extends 'base.html' %}


{% block content %}

<h2>GETIN Auth</h2>

<div class="row">
  <div class="card white z-depth-2">
    <div class="card-content black-text">
      <span class="card-title">Services</span>
      <p>
        You can find our online services through this web app.
        {% if current_user.is_anonymous %}
        <br>To start, log in with the link in the top right.
        {% endif %}
      </p>
      <br><br>
      <span class="card-title"><a href="{{ url_for('hr.index') }}">Human Resources</a></span>
      <p>
        To apply for the corporation, review your application status, or
        see your training process, click <a href="{{ url_for('hr.index') }}">here</a> to visit HR.
      </p>
      <br><br>
      <span class="card-title"><a href="https://wiki.wormbro.academy">Wiki</a></span>
      <p>
        To read, add, and update wiki articles about the alliance, wormholes, or EVE,
        click <a href="{{ url_for('wiki.index') }}">here</a> to visit the wiki.
      </p>
    </div>
  </div>
</div>
<div class="row">
  <div class="card white z-depth-2">
    <div class="card-content black-text">
      <span class="card-title">News</span><br>
      <strong>2016-10-02</strong>
      <p>
        The site has been updated! You'll find all of the HR stuff under <a href="{{ url_for('hr.index') }}">/hr/</a> now.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
