SQLALCHEMY_DATABASE_URI = ''
SQLALCHEMY_TRACK_MODIFICATIONS = False
SECRET_KEY = ''
LOGGING_LEVEL = 10
CORPORATION = ''
API_KEY_MASK = 0
CORP_MEMBER_API_KEY = ''
CORP_MEMBER_API_CODE = ''

CONTACT_EMAIL = ''
EVE_OAUTH_CLIENT_ID = ''
EVE_OAUTH_SECRET = ''
EVE_OAUTH_CALLBACK = ''

REDDIT_OAUTH_CLIENT_ID = ''
REDDIT_OAUTH_SECRET = ''
REDDIT_OAUTH_CALLBACK = ''
REDDIT_OAUTH_SCOPES = ''
