body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.card-panel > p {
    margin: 0;
    margin: 0;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.container > .clearfix {
    margin-top: 20px;
}
.clearfix > h2 {
    margin: 0;
}
.pad-top {
    margin-top: 20px;
}
.pad-top-heavy {
    margin-top: 60px;
}
h2 > small {
    font-size: 2rem;
    color: rgba(107, 107, 107, 0.8);
}
.no-pad-top {
    margin-top: 0;
}
.no-pad-bottom {
    margin-bottom: 0;
}
.container > .row {
    margin-top: 20px;
}
code {
    color: red;
}
.btn-small {
    height: 24px;
    line-height: 24px;
}
td.small {
    width: 15%;
}
ul.circle > li {
    list-style-type: circle;
}
