.card-panel > p {
    margin: 0;
    margin: 0;
}
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}
.container > .clearfix {
    margin-top: 20px;
}
.clearfix > h2 {
    margin: 0;
}
.pad-top {
    margin-top: 20px;
}
h2 > small {
    font-size: 2rem;
    color: rgba(107, 107, 107, 0.8);
}
.no-pad-top {
    margin-top: 0;
}
.no-pad-bottom {
    margin-bottom: 0;
}
